<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtK_CKe2zd1YshLHnurKgFIAs2xjQiwjw</string>
	<key>GCM_SENDER_ID</key>
	<string>140972508484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bijlipayVyapaar</string>
	<key>PROJECT_ID</key>
	<string>bijlipay-vyapaar</string>
	<key>STORAGE_BUCKET</key>
	<string>bijlipay-vyapaar.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140972508484:ios:31d2872c2d74ec46e68311</string>
</dict>
</plist>